.DS_Store
.git
.gitignore
.vscode
.venv
env
venv
ENV

**/.env
**/.env.*
**/node_modules
**/dist
**/coverage
**/.pytest_cache
**/__pycache__
**/*.log

diarisation-service/
meets-made-easy/data/
meets-made-easy/src/backend/llm/outputs/
src/backend/llm/outputs/